<html>
    <head>
        <title>Gas detector</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="pure-g">
            <div class="pure-u-1" id="switch"> ... </div>
        </div>
        <script>
            function call_server() {
                console.log("reading...")
                $.ajax({
                    type: 'GET',
                    url: '/api/switch',
                    dataType: 'json',
                    success: function(data) {
                        if(data.on) {
                            $('#switch').text("Gas Leak!");
                            // alert("Val "+ data.on+", Pin: "+data.pin);
                        } else {
                            $('#switch').text("All ok!");
                        }
                    }
                })
            }
            $(document).ready(function(){
                setInterval(call_server, 1000); 
            })
        </script>
    </body>
</html>
